body {
    background-color: Cyan;
    /*display: none;*/
}


th, td {
    padding: 3px 10px;
    text-align: left;
    color: white;
	font-family: Verdana;
	font-weight: bold;
}

table {
    width: 1400px;
    border-collapse: collapse;
    background-color: CornflowerBlue;
}

table.menu {
    width: 180px;
    background-color: Cyan;
}

table.base0 {
    width: 1500px;
    background-color: Cyan;
    margin-left: auto;
    margin-right: auto;
}


th {
    height: 50px;
    font-size: 18px;
}

td,th.subheader {
    height: 28px;
    font-size: 12px;
    vertical-align: middle;
}

.selectable:hover {background-color: DeepSkyBlue}
.top {vertical-align: baseline;}
.programTable,.requestTable,.historyTable { border: 2px solid white; }
.storageTable,.systemTable { border: 2px solid white; width: 800px; }
.customFilterTable { border: 2px solid white; width: 1000px; }
.tvShowsBatchTable { border: 2px solid white; width: 1400px; }
.logTable { border: 2px solid white; width: 1200px; }
.remoteCommandTable { width: 800px; background-color: Cyan; }

table.programTable tr,table.programTable td,table.programTable th { border: 2px solid white; }
table.customFilterTable tr,table.customFilterTable td,table.customFilterTable th { border: 2px solid white; }

table.requestTable tr,table.requestTable td,table.requestTable th { border: 2px solid white; }
table.historyTable tr,table.historyTable td,table.historyTable th { border: 2px solid white; }
table.storageTable tr,table.storageTable td,table.storageTable th { border: 2px solid white; }
table.systemTable tr,table.systemTable td,table.systemTable th { border: 2px solid white; }
table.tvShowsBatchTable tr,table.tvShowsBatchTable td,table.tvShowsBatchTable th { border: 2px solid white; text-align: center; }
table.logTable tr,table.logTable td,table.logTable th { border: 2px solid white; text-align: center; }

table.menu td { text-align: center; } 
table.menu button,table.menu input { width: 180px; }

table.logTable td.textValue { text-align: left; }

td.date { white-space: nowrap; }
td.colored { background-color: plum; }
td.selector { width: 30px; }


div#dbTimeStamp {  display: none;  }

div.tabcontent
{
   display: none;
   width: 1450px;
}

img.showlink {
   vertical-align: middle;
   padding: 0px 10px;
   float: right;
   height: 16px;
   width: 16px;
}


button {
    background-color: CornflowerBlue;
	border: 2px solid;
    border-radius: 25px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 10px 10px 10px 10px;
}

input {
    background-color: CornflowerBlue;
	border: 2px solid;
    border-radius: 25px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 10px 10px 10px 10px;
}

iframe{
/*  display: none; */
	background-color: plum;
	width: 1420px;
    height: 600px;
	/*
    padding: 3px 10px;
    text-align: left;
    color: white;
	font-family: Verdana;
    font-size: 14px;*/
}

/* check if usefull */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
/*    background-color: #fefefe; */
    background-color: darkmagenta;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	width: 1450px;
 /*   width: 80%;*/ /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /*color: #aaa;*/
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


